body {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #c9d8e8;
  background-image: radial-gradient(
    #1976d2 1.4500000000000002px,
    #dfe3e7 1.4500000000000002px
  );
  background-size: 29px 29px;
}

.logIn {
  width: 300px;
  height: 400px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatContainer {
  width: 80%;
  height: 80vh;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connexion-info {
  width: 95%;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0px 10px 0px;
}

.sub-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #6d6d6d;
  margin: 8px 0px 10px 0px;

}

.message-author {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
  margin: 8px 0px 0px 0px;
}

.message-time {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #cacaca;
  margin: 5px 0px 0px 0px;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin: 10px 0px 10px 0px;
}
